.image{
    background-image: url('https://img.freepik.com/free-photo/filled-miniature-cart-with-paper-shopping-bags-front-pink-background_23-2147892202.jpg?size=626&ext=jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}